/out/
/resources/public/js/compiled/
/target/browser-test/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
/.clj-kondo/
/.dir-locals.el
/.lsp/

/resources/public/css/fa-5.15.4-web
/resources/public/js
